<div *ngIf="dataLoaded==false" class="spinner-grow" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded!=false" class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Kategori Id</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Stok</th>
          </tr>
    </thead>
    <tbody >
        <tr *ngFor="let a of products">
          <td>{{a.productId}}</td>
          <td>{{a.productName}}</td>
          <th >{{a.categoryId}}</th>
          <th >{{a.unitPrice}} TL</th>
          <th >{{a.unitsInStock}} Adet</th>
        </tr>
      </tbody>
</table>
