<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ProductName</th>
            <th scope="col">CategoryId</th>
            <th scope="col">UnitPrice</th>
          </tr>
    </thead>
    <tbody >
        <tr *ngFor="let a of products">
          <td>{{a.productId}}</td>
          <td>{{a.productName}}</td>
          <th >{{a.categoryId}}</th>
          <th >{{a.unitPrice}}</th>
        </tr>
      </tbody>
</table>
